{% extends 'main/services.html' %}
{% load static %}

{% block styles %}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
    <link rel="stylesheet" href="{% static 'main/css/budget.css' %}">
{% endblock %}

{% block title %}Online Wedding Planner | Бюджет{% endblock %}
{% block page-name %}Свадебный бюджет{% endblock %}
{% block page-description %}Грамотное распределение средств – важнейшее условие успеха праздника. Калькулятор
    свадебного бюджета позволит держать под контролем все расходы: расчёты с подрядчиками, расходы на программу
    свадебного вечера и другое.{% endblock %}

{% block content %}

    {#    <section class="container">#}
    {#    <div class="row">#}
    {##}
    {#        <div class="col 14">#}
    {#            <div class="card-panel">#}
    {#                <h6>Total</h6>#}
    {#                <h2>$10000</h2>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    </section>#}

    <div class="row mb-3">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3" id="total-budget">
                    <div class="card-header">
                        <h5 class="card-title">Бюджет</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">${{ project.budget }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3" id="budget-left">
                    <div class="card-header">
                        <h5 class="card-title">Остаток</h5>
                    </div>
                    <div class="card-body">
                        {% if project.budget_left > 0 %}
                            <h3 class="card-title">${{ project.budget_left }}</h3>
                        {% else %}
                            <h3 class="card-title text-danger">${{ project.budget_left }}</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3" id="paid-transactions">
                    <div class="card-header">
                        <h5 class="card-title">Оплачено</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">${{ project.total_prepayment }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 mx-auto w-75">
        <div class="card card-body">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">

                <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal"
                        data-bs-target="#expenseModal"><i class="fas fa-plus-circle"></i> Добавить расход
                </button>
                <div class="modal fade" id="expenseModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="expenseModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="expenseModalLabel">Новый расход</h5>
                            </div>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="modal-body text-center">
                                    <label for="description">Описание</label>
                                    <input name="description" placeholder="Описание" id="description">
                                    <label for="cost">Цена</label>
                                    <input name="cost" id="cost">
                                    <label for="prepayment">Предоплата</label>
                                    <input name="prepayment" id="prepayment">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-sm table-striped">
                <thead class="text-center">
                <tr>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Предоплата</th>
                    <th>Сумма долга</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for expense  in expense_list %}
                    <tr>
                        <td class="text-left">{{ expense.description }}</td>
                        <td class="text-center">{{ expense.cost }}</td>
                        <td class="text-center">{{ expense.prepayment }}</td>
                        <td class="text-center">{{ expense.payment_left }}</td>
                        <td>
                            <div class="btn-group d-flex align-items-center manage-tasks-btn-group">
                                {#                                <a href="" class="btn btn-outline-secondary edit-task-btn"#}
                                {#                                   type="button"#}
                                {#                                   id="edit-task-btn-1"><i class="far fa-edit"></i>#}
                                {#                                </a>#}
                                <form action="delete_expense" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value={{ expense.id }}>
                                    <button class="btn btn-outline-secondary delete-task-btn"
                                            type="submit"
                                            id="delete-task-{{ expense.id }}-btn"><i
                                            class="far fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
    </script>

    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>#}
{% endblock %}