{% extends 'main/services.html' %}
{% load static %}

{% block title %}Online Wedding Planner | Список дел{% endblock %}

{% block page-name %}Список свадебных дел{% endblock %}
{% block page-description %}Это Ваш личный список дел. Следите за всеми задачами, необходимыми для
    организации
    идеального свадебного дня. Следите за ходом подготовки: добавляйте, завершайте или удаляйте любую задачу,
    чтобы всё успеть{% endblock %}

{% block content %}

    <section id="checklist">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    {#                        <form action="add_tasks" method="post">#}
                    <div class="accordion mt-3" id="accordion">

                        {% for group in task_group_list %}
                            <div class="card">
                                <div class="card-header" id="heading-{{ group.id }}">
                                    <h5 class="mb-0">
                                        <button id="collapsingBtn-{{ group.id }}" class="btn btn-link collapsed"
                                                data-toggle="collapse"
                                                data-target="#collapse-{{ group.id }}" aria-expanded="false"
                                                aria-controls="collapse-{{ group.id }}"
                                                onclick="toggleAccordion('collapse-{{ group.id }}', 'collapsingBtn-{{ group.id }}')">
                                            {{ group.name }} <i class="fa fa-angle-down"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse-{{ group.id }}" class="collapse"
                                     aria-labelledby="heading-{{ group.id }}"
                                     data-parent="#accordion">
                                    <div class="card-body">
                                        {% for task in group.tasks %}

                                            <div class="form-check">
                                                {% if task.status == "P" %}
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="flexCheckDefault-{{ task.id }}" data-id="{{ task.id }}">
                                                    <label class="form-check-label strikethrough"
                                                           for="flexCheckDefault">
                                                        {{ task.description }}
                                                    </label>
                                                {% elif task.status == "C" %}
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="flexCheckDefault-{{ task.id }}" data-id="{{ task.id }}" checked>
                                                    <label class="form-check-label strikethrough"
                                                           for="flexCheckDefault">
                                                        {{ task.description }}
                                                    </label>
                                                {% endif %}
                                                <div class="btn-group d-flex align-items-center manage-tasks-btn-group">
                                                    <button class="btn btn-outline-secondary edit-task-btn"
                                                            type="button"
                                                            id="edit-task-btn-{{ task.id }}"><i class="far fa-edit"></i>
                                                    </button>

                                                    <button class="btn btn-outline-secondary delete-task-btn"
                                                            type="button"
                                                            id="delete-task-btn-{{ task.id }}"><i
                                                            class="far fa-trash-alt"></i></button>
                                                </div>

                                            </div>
                                        {% endfor %}
                                        <form action="add_new_subtask" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ group.id }}" name="task_group_id">
                                            <div class="input-group mt-3 md-3">
                                                <input type="text" name="subtask-description" class="form-control task-description"
                                                   id="task-description-{{ group.id }}"
                                                   placeholder="Опишите новую задачу..."
                                                   aria-label="Опишите новую задачу..."
                                                   aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                    <button name="add-task-btn" type="submit"
                                                            id="add-task-{{ group.id }}"
                                                            class="btn btn-outline-secondary add-todo-item-btn">
                                                        <i class="fas fa-plus-circle"></i> Добавить задачу
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mt-5">
                            {{ task_group_form.name }}
                            <div class="input-group-append">
                                <button name="add-task-group-btn" type="submit" class="btn btn-outline-secondary"
                                        id="add-new-task-group-btn"><i
                                        class="fas fa-plus-circle"></i> Добавить новый список задач
                                </button>
                            </div>
                        </div>
                        <span>{{ error }}</span>
                    </form>
                    {#                        </form>#}
                </div>
            </div>
        </div>
    </section>


{% endblock %}