{% extends 'main/services.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block title %}Online Wedding Planner | Создать проект{% endblock %}
{% block page-name %}Свадебный проект{% endblock %}
{% block page-description %}Создайте свадебный проект, чтобы начать планирование вашего идеального свадебного дня.{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
        </form>
    </div>
{% endblock %}
