{% extends 'main/services.html' %}
{% load static %}

{% block title %}Online Wedding Planner | Гости{% endblock %}

{% block page-name %}Список приглашённых гостей{% endblock %}
{% block page-description %}Подготовьте список гостей со стороны невесты и жениха. Отмечайте тех, кто точно
    придет на свадьбу. Узнайте соотношение гостей с каждой из сторон. Также Вы можете
    экспортировать список гостей в XLS файл.{% endblock %}

{% block content %}

    <div class="col-md-12 text-center d-md-flex justify-content-md-center mb-3">
        <a href="{% url 'export_excel' project.slug %}" type="button" class="btn btn-light btn-lg">
            <i class="fas fa-file-download"></i> Экспорт в Excel</a>
    </div>

    <div class="row text-black">
        <div class="col-lg-6 bride-side-guests">
            <div class="bride-card-img">
                <img src="{% static 'main/img/bride-shoe.png' %}" alt="Bride's shoe">
            </div>

            <div class="col-md-12 mb-5 text-center">
                <h5 class="guests-column-header">Гости со стороны невесты</h5>
            </div>

            {% for bride_side_guest in bride_side_guests %}
                {#            dropdown group#}
                <div class="input-group mt-3 mx-auto w-75">

                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="far fa-address-card"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" aria-current="true">Отдать приглашение</a></li>
                        <li><a class="dropdown-item">Ожидаем ответ</a></li>
                        <li><a class="dropdown-item">Приглашение принято</a></li>
                        <li><a class="dropdown-item">Приглашение отклонено</a></li>
                    </ul>

                    <input type="text" aria-label="First name" class="form-control" placeholder="Имя"
                           value="{{ bride_side_guest.first_name }}">
                    <input type="text" aria-label="Last name" class="form-control" placeholder="Фамилия"
                           value="{{ bride_side_guest.last_name }}">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fas fa-male"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item"><i class="fas fa-male"></i></a></li>
                        <li><a class="dropdown-item"><i class="fas fa-female"></i></a></li>
                        <li><a class="dropdown-item"><i class="fas fa-baby"></i></a></li>
                    </ul>
                    <form action="delete_guest" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{ bride_side_guest.id }}>
                        <button class="btn btn-outline-secondary delete-guest-btn" type="submit"
                                id="delete-guest-{{ bride_side_guest.id }}"><i
                                class="far fa-trash-alt"></i></button>
                    </form>

                </div>

                {#            end dropdown group#}
            {% endfor %}
        </div>
        <div class="col-lg-6 groom-side-guests">
            <div class="groom-card-img">
                <img src="{% static 'main/img/groom-shoe.jpeg' %}" alt="Groom's shoe">
            </div>

            <div class="col-md-12 mb-5 text-center">
                <h5 class="guests-column-header">Гости со стороны жениха</h5>
            </div>

            {% for groom_side_guest in groom_side_guests %}
                {#            dropdown group#}
                <div class="input-group mt-3 mx-auto w-75">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="far fa-address-card"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" aria-current="true">Отдать приглашение</a></li>
                        <li><a class="dropdown-item">Ожидаем ответ</a></li>
                        <li><a class="dropdown-item">Приглашение принято</a></li>
                        <li><a class="dropdown-item">Приглашение отклонено</a></li>
                    </ul>
                    <input type="text" aria-label="First name" class="form-control" placeholder="Имя"
                           value="{{ groom_side_guest.first_name }}">
                    <input type="text" aria-label="Last name" class="form-control" placeholder="Фамилия"
                           value="{{ groom_side_guest.last_name }}">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fas fa-male"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item"><i class="fas fa-male"></i></a></li>
                        <li><a class="dropdown-item"><i class="fas fa-female"></i></a></li>
                        <li><a class="dropdown-item"><i class="fas fa-baby"></i></a></li>
                    </ul>
                    <form action="delete_guest" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{ groom_side_guest.id }}>
                        <button class="btn btn-outline-secondary delete-guest-btn" type="submit"
                                id="delete-guest-{{ groom_side_guest.id }}"><i
                                class="far fa-trash-alt"></i></button>
                    </form>
                </div>

                {#            end dropdown group#}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="text-center total-by-side mt-5 mb-5">
        <p>Соотношение по сторонам</p>
        <h1>{{ bride_side_amount }} / {{ groom_side_amount }}</h1>
    </div>
    <div class="row d-flex total-by-sex text-center mb-5">
        <h5 class="col-md-4 text-center"><i class="fas fa-male"></i> Мужчины: {{ total_male }}</h5>
        <h5 class="col-md-4 text-center"><i class="fas fa-female"></i> Женщины: {{ total_female }}</h5>
        <h5 class="col-md-4 text-center"><i class="fas fa-baby"></i> Дети: {{ total_child }}</h5>
    </div>

    <hr>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="col-md-12 d-inline-block text-center justify-content-md-center mb-3 mt-5">
            <label for="first_name">Имя гостя: </label>
            <input class="mb-3" name="first_name" id="first_name">
            <label for="last_name">Фамилия гостя: </label>
            <input class="mb-3" name="last_name" id="last_name">
            <div class="col-md-12 d-flex justify-content-md-center">
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" name="sex" id="male" value="M" checked>
                    <label class="form-check-label" for="male"> Мужчина </label>
                </div>
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" name="sex" id="female" value="F">
                    <label class="form-check-label" for="female"> Женщина </label>
                </div>
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" name="sex" id="child" value="C">
                    <label class="form-check-label" for="child"> Ребёнок </label>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-md-center">
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" name="side" id="groom-side" value="G" checked>
                    <label class="form-check-label" for="groom-side">
                        Сторона жениха
                    </label>
                </div>
                <div class="form-check mr-3">
                    <input class="form-check-input" type="radio" name="side" id="bride-side" value="B">
                    <label class="form-check-label" for="bride-side">
                        Сторона невесты
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-md-center">
            <button type="submit" class="btn btn-light btn-sm"><i class="fas fa-plus-circle"></i> Добавить гостя
            </button>
        </div>
    </form>

{% endblock %}
