{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Online Wedding Planner{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'main/img/logo.png' %}" class="logo-image" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> О продукте </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Сервисы </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="page-header gradient">
        <div class="container pt-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <h1>Добро пожаловать в Online Wedding Planner!</h1>
                    <p> Полезный инструмент для планирования Вашей идеальной свадьбы, который поможет хранить всю
                        необходимую информацию о планируемом торжестве в одном месте и в удобном формате.</p>
                    <button type="button" class="btn btn-outline-light">Узнать больше</button>
                    <button type="button" class="btn btn-info">Создать свадебный проект</button>
                </div>
            </div>
        </div>
    </header>

    <section class="features">
        <div class="conteiner">
            <div class="row align-items-center justify-content-center">


                <div class="col-md-3">
                    <div class="features-list">
                        <img src="{% static 'main/img/Checklist _Monochromatic.png' %}" class="card-img" alt="...">
                        <h5>Список дел</h5>
                        <p>Следите за всеми задачами, необходимыми для организации идеального свадебного дня.</p>
                        <a href="#">Свадебный список дел &#8594</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="features-list">
                        <img src="{% static 'main/img/Party_Monochromatic.png' %}" class="card-img" alt="...">
                        <h5>Список гостей</h5>
                        <p>Подготовьте список гостей со стороны невесты и жениха. Отмечайте тех, кто точно придет на
                            свадьбу.</p>
                        <a href="#">Список гостей на свадьбу &#8594</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="features-list">
                        <img src="{% static 'main/img/Calculator_Monochromatic.png' %}" class="card-img" alt="...">
                        <h5>Бюджет</h5>
                        <p>Будьте в курсе ваших расходов - следите за своим бюджетом и любыми непогашенными
                            платежами.</p>
                        <a href="#">Свадебный бюджет &#8594</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    {#    <div class="card" style="width: 18rem;">#}
    {#  <img src="{% static 'main/img/Team work_Monochromatic.png' %}" class="card-img-top" alt="...">#}
    {#  <div class="card-body">#}
    {#    <h5 class="card-title">Card title</h5>#}
    {#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
    {#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
    {#  </div>#}
    {#</div>#}
    {##}
    {#    <section class="features">#}
    {#    <div class="container">#}
    {#        <div class="row align-items-center">#}
    {#            <div class="col-md-6">#}
    {#                <h3>Список гостей</h3>#}
    {#            </div>#}
    {#            <div class="col-md-6">#}
    {#                <img src="{% static 'main/img/Team work_Monochromatic.png' %}" alt="Список гостей">#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    </section>#}

{% endblock %}

