{% extends 'main/navbar.html' %}
{% load static %}

{% block styles %}{% static 'main/css/main-page.css' %}{% endblock %}

{% block title %}Online Wedding Planner{% endblock %}

{% block content %}

    {% include 'main/navbar.html' %}
    <header class="page-header gradient">
        <div class="container pt-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-11">
                    <h1>Добро пожаловать в Online Wedding Planner!</h1>
                    <p> Полезный инструмент для планирования Вашей идеальной свадьбы, который поможет хранить всю
                        необходимую информацию о планируемом торжестве в одном месте и в удобном формате.</p>
                    <a href="#features" type="button" class="btn btn-outline-light mt-5">Узнать больше</a>
                    <a href="{% url 'project_list' %}" type="button" class="btn btn-info mt-5">Создать свадебный
                        проект</a>
                </div>
            </div>
        </div>
    </header>

    <section id="features" class="features">
        <div class="conteiner">
            <div class="col-md-12 text-center mb-3 mt-5">
                <h4>Инструменты</h4>
            </div>
            <div class="row align-items-center justify-content-md-center mb-5">
                <div class="col-md-3 mb-5">
                    <div class="features-list">
                        <img src="{% static 'main/img/Checklist.png' %}" class="card-img" alt="...">
                        <h5>Список дел</h5>
                        <p>Следите за всеми задачами, необходимыми для организации идеального свадебного дня.</p>
                        <a href="{% url 'project_list' %}">Свадебный список дел &#8594</a>

                        {#                        {% if project.exists == False %}#}
                        {#                            <a href="{% url 'create_project' %}">Свадебный список дел &#8594</a>#}
                        {#                        {% else %}#}
                        {#                            <a href="{% url 'checklist' project.slug %}">Свадебный список дел &#8594</a>#}
                        {#                        {% endif %}#}
                    </div>
                </div>

                <div class="col-md-3 mb-5">
                    <div class="features-list">
                        <img src="{% static 'main/img/Party.png' %}" class="card-img" alt="...">
                        <h5>Список гостей</h5>
                        <p>Подготовьте список гостей со стороны невесты и жениха. Отмечайте тех, кто точно придет на
                            свадьбу.</p>
                        <a href="{% url 'project_list' %}">Список гостей на свадьбу &#8594</a>
                        {#                        {% url 'guests' project.slug %}#}
                    </div>
                </div>

                <div class="col-md-3 mb-5">
                    <div class="features-list">
                        <img src="{% static 'main/img/Calculator.png' %}" class="card-img" alt="...">
                        <h5>Бюджет</h5>
                        <p>Будьте в курсе ваших расходов - следите за своим бюджетом и любыми непогашенными
                            платежами.</p>
                        <a href="{% url 'project_list' %}">Свадебный бюджет &#8594</a>
                        {#                        {% url 'budget' project.slug %}#}
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

