{% extends 'main/services.html' %}
{% load static %}

{% block title %}Online Wedding Planner | Обзор{% endblock %}

{% block page-name %}Обзор свадебного проекта{% endblock %}
{% block page-description %}Следите за тем, как идёт подготовка к вашей свадьбе.{% endblock %}

{% block content %}

    <div class="row text-black">
        <div class="col-lg-6 bride-side">
            <div class="bride-img">
                <img src="{% static 'main/img/crown-icon-png-29.jpg' %}" alt="Bride's shoe">
            </div>

            <div class="col-md-12 mb-5 text-center">
                <h3 class="bride-name">Невеста {{ project.bride_name }}</h3>
            </div>
            <div class="m-3 mx-auto w-75 text-center">
                <h4><i class="far fa-calendar-alt"></i> {{ project.wedding_date }}</h4>
            </div>
        </div>
        <div class="col-lg-6 groom-side-guests">
            <div class="groom-img">
                <img src="{% static 'main/img/mustache-icon-png-29.jpg' %}" alt="Groom's shoe">
            </div>

            <div class="col-md-12 mb-5 text-center">
                <h3 class="groom-name">Жених {{ project.groom_name }}</h3>
            </div>
            <div class="m-3 mx-auto w-75 text-center">
                <h4><i class="fas fa-map-marker-alt"></i> {{ project.ceremony_place }}</h4>
            </div>
        </div>
        <div class="col-md-12 text-center total-by-side mt-5">
            <h5>Количество приглашённых гостей:</h5>
            <h1>{{ project.guests.count }}</h1>
        </div>
    </div>


{% endblock %}