html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}

.logo-image {
    height: 55px;
    width: 137px;
}

.page-header {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.15rem;
}

.page-header h1 {
    padding-bottom: 3%;
    padding-top: 20%;
}

.page-header p {
    padding-top: 1%;
    color: white;
    opacity: 0.5;
    background-color: black;
    padding-bottom: 1%;
}

header {
    background: url(../img/main-page.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 91vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

.card-img {
    width: 200px;
}

.row {
    margin: 0 !important;
}