/*html,*/
/*body {*/
/*  height:100%;*/

/*}*/
/*    .sticky div {*/
/*      border-right: 1px solid grey;*/
/*    }*/

* {
    font-family: 'Roboto Slab', serif;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}

.vertical-nav {
    min-width: 13rem;
    width: 13rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.page-content {
    margin-left: 13rem;
}

.separator {
    margin: 2rem;
    border-bottom: 1px dashed #aaa;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.nav-link:hover {
    background-color: #f3f2f2;
}

.text-primary {
    color: #2d5e6e !important;
}

/*.bride-side-guest {*/
/*    text-align: center;*/
/*}*/

.bride-card-img img {
    height: 60px;
    width: 90px;
}

.bride-card-img, .groom-card-img {
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
}


.groom-card-img img{
    height: 60px;
    width: 110px;
}

.page-name {
    color: #2d5e6e;
}

.accordion .card {
    border-radius: 0;
    background: none;
    border-left-width: 0;
    border-right-width: 0;
}

.accordion .card .card-header {
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
    border: none;
    outline: inherit;
}

.accordion .card-header .btn {
    color: #2d5e6e;
    width: 100%;
    text-align: left;
    padding-left: 0;
}

.accordion .card-header i {
    position: absolute;
    right: 1rem;
}

.btn-link:hover {
    text-decoration: none;
    font-size: 1.1rem;
}

.btn-link:focus, .card-header:focus {
    text-decoration: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

.guests-column-header {
    align-items: center;
}

.form-check {
    display: flex;
}

.form-check-label {
    width: 100%;
}

.manage-tasks-btn-group {
    height: 40%;
}

.delete-task-btn {
    border: none;
    border-radius: 5%;
    background: none;
    color: red;
    outline: none;
    /*box-shadow: none;*/
}

.edit-task-btn {
    border: none;
    border-radius: 5%;
    background: none;
    color: cornflowerblue;
    outline: none;
    /*box-shadow: none;*/
}